---
import Link from "./Link.astro";
import NavigationBar from "./NavigationBar.astro";
import HeaderCell from "./HeaderCell.astro";

import '../styles/header.css'
import '../styles/global.css'


interface Props {
  name: string;
  title: string;
  subtitle: string;
  job: string;
}

const { name, title, subtitle, job } = Astro.props;
---

<div class = overview>
  <NavigationBar/>

<section id = "header" class= "header">

  <!--<HeaderCell iconOrText={title}, title = {name}, description = {subtitle}, tags = {job}/>  -->
  <div class="presentation">
    <div class="title">
      {title}
    </div>
    <div class="name">
      {name}
    </div>
    <div class="description">
      <span style="font-weight:bolder;">{subtitle}</span>
      {" " + job}
    </div>
    <div class="container">
      <Link
        icon="mdi:github"
        title="Github"
        href="https://github.com/SaccoGabriel"
      />
      <Link
        icon="mdi:linkedin"
        title="Linkedin"
        href="https://www.linkedin.com/in/gabriel-sacco"
      />
      <Link
        icon="mdi:email"
        title="gabriel.sacco74@gmail.com"
        href="mailto:gabriel.sacco74@gmail.com"
      />
    </div>
  </div>
  <div class="picture">
    <img src=GS.jpg></img>
  </div>
</section>

</div>
