---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";


interface Props {
    projectTitle: string;
    projectIcon: string;
    projectContent: string;
    projectLinkedSkills:string;
}

const { projectTitle, projectIcon, projectContent, projectLinkedSkills} = Astro.props;

---
<div class ="projectTemplate">
    <div>
        <Icon class = "projectIcon" name={projectIcon}/>
        <a  href = "FirstProject"><Icon class = "projectIcon" style = "float:right" name="mdi:open-in-new"/></a>
    </div>
    <h3 >{projectTitle}</h3>
    <p class = "projectContent">{projectContent}</p>
    <div class = "projectLinkedSkills"><Icon class = "tagIcon" name="mdi:github"/> {projectLinkedSkills}</div>
    <div class = "projectLinkedSkills"><Icon class = "tagIcon" name="mdi:github"/> {projectLinkedSkills}</div>
    <div class = "projectLinkedSkills"><Icon class = "tagIcon" name="mdi:github"/> {projectLinkedSkills}</div>
    <div class = "projectLinkedSkills"><Icon class = "tagIcon" name="mdi:github"/> {projectLinkedSkills}</div>

    
</div>
<style>

.projectTemplate h3
{
    margin-bottom:1px;
    color:var(--low-contrast-text);
}
.tagIcon
{
    position: relative;
    top:2px;
    color: var(--low-contrast-text);
}
.projectIcon
{    
    position: relative;
    top:15px;
    font-size: 1.5em;
}

.projectContent
{
    position:relative;
    font-size: 1em;
    margin: 10px 0px 15px 0px;
}

.projectLinkedSkills{

    position: relative;
    display: inline-block;
    padding: 5px;
    width:auto;
    font-size:0.9em;
    text-underline-offset:inherit;
    text-decoration:none;
    border-radius: 20px;
    background-color: var(--ring);
    color: var(--high-contrast-text);
    margin-bottom: 5px;
     
}
.projectTemplate
{
    background-color: var(--selected-background);
    width:100%;
    
    max-width: 300px; 
    height:50%;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    margin: 25.6px 10px 10px 10px;
    }

</style>
